In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.17.4)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (1.15.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (50.3.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1Qj-TiJ5Q3H0uoeOMYv2O47pfsWxCNsMd'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('Instagram_Usrs.csv')

In [ ]:
instagram_usrs = pd.read_csv('Instagram_Usrs.csv', encoding='latin1',sep=';')
instagram_usrs.head()

    usuario  ... cantidad_total_publicaciones
0  N002qbs5  ...                          480
1  N002qd07  ...                          669
2  N002qhoi  ...                           50
3  N002qiab  ...                          819
4  N002qqtm  ...                          765

[5 rows x 7 columns]

# El equipo comercial en Argentina de instagram cuenta con información sumarizada de usuarios del país en el siguiente Data Frame (id_usuario, nickname, país, fecha_alta, cantidad_seguidores, cantidad_seguidos, cantidad_total_publicaciones). 
Uno de sus analistas quiere obtener los potenciales 10 usuarios “influencers” que van a liderar su primera campaña de vía pública en el país y para ello necesita de nuestra ayuda. El criterio para detectar un influencer es que el mismo debe: 
- Tener una cantidad de seguidores mayor al 80% de la máxima cantidad de seguidores de todos los usuarios dentro de su país. (Por ejemplo, si un usuario es Argentino y el máximo de seguidores en Argentina es 1000 entonces requerirá tener al menos 800 seguidores).
- El número de usuarios que esa persona sigue no debe superar el 15% de la cantidad de seguidores que él tiene.
El criterio final para seleccionar a los candidatos será a partir de la mayor cantidad de seguidores que tengan. 

Escribir un programa en python Pandas que pueda obtener esos usuarios

In [ ]:
max_seguidores_por_pais=instagram_usrs[['pais','cantidad_seguidores']].groupby('pais').max()

In [ ]:
max_seguidores_por_pais

           cantidad_seguidores
pais
Argentina               884500
Brasil                  903879
Chile                   839094
Colombia                896789
Mexico                  897432

In [ ]:
max_seguidores_por_pais.reset_index(inplace=True)

In [ ]:
max_seguidores_por_pais

        pais  cantidad_seguidores
0  Argentina               884500
1     Brasil               903879
2      Chile               839094
3   Colombia               896789
4     Mexico               897432

In [ ]:
max_seguidores_por_pais['ochenta_porciento']=max_seguidores_por_pais['cantidad_seguidores']*0.8

In [ ]:
max_seguidores_por_pais

        pais  cantidad_seguidores    ochenta_porciento
0  Argentina               884500           707,600.00
1     Brasil               903879           723,103.20
2      Chile               839094           671,275.20
3   Colombia               896789           717,431.20
4     Mexico               897432           717,945.60

In [ ]:
max_seguidores_por_pais.dtypes

pais                    object
cantidad_seguidores      int64
ochenta_porciento      float64
dtype: object

In [ ]:
max_seguidores_por_pais.rename(columns = {'cantidad_seguidores':'max_seguidores_pais'}, inplace=True)

In [ ]:
max_seguidores_por_pais

        pais  max_seguidores_pais    ochenta_porciento
0  Argentina               884500           707,600.00
1     Brasil               903879           723,103.20
2      Chile               839094           671,275.20
3   Colombia               896789           717,431.20
4     Mexico               897432           717,945.60

In [ ]:
instagram_usrs=instagram_usrs.merge(max_seguidores_por_pais,on='pais')

In [ ]:
instagram_usrs.head()

    usuario            nickname  ... max_seguidores_pais    ochenta_porciento
0  N002qbs5      TaniaMunira?¨   ...              884500           707,600.00
1  N002qiab        SkauSimon?¨   ...              884500           707,600.00
2  N002r1a8          ReisAna?¨   ...              884500           707,600.00
3  N002rqlw  MaezawaTakahiro?¨   ...              884500           707,600.00
4  N002rr3n        namefirst?¨   ...              884500           707,600.00

[5 rows x 9 columns]

In [ ]:
instagram_usrs['Max80']=instagram_usrs['cantidad_seguidores']>instagram_usrs['ochenta_porciento']

In [ ]:
instagram_usrs['Max80'].value_counts()

False    169
True      31
Name: Max80, dtype: int64

In [ ]:
instagram_usrs['Menos15']=(instagram_usrs['cantidad_seguidores']*0.15)>instagram_usrs['cantidad_seguidos']

In [ ]:
instagram_usrs['Menos15'].value_counts()

False    146
True      54
Name: Menos15, dtype: int64

In [ ]:
instagram_usrs.loc[(instagram_usrs['Max80'])&(instagram_usrs['Menos15']),:].nlargest(10,'cantidad_seguidores')

      usuario                   nickname  ... Max80 Menos15
94   N0030kpq   MartinezBelmonteAngel?¨   ...  True    True
186  N002zq9j           AnaMariaGANGA?¨   ...  True    True
143  N002vrqp           GarampiIlaria?¨   ...  True    True
136  N002rw1y          VolintiruAndra?¨   ...  True    True
36   N00307fs       MariaMaximinaGouveia  ...  True    True
27   N002ykux              PennJorgen?¨   ...  True    True
28   N002ypf8   Beltr?ÿnBermeoClaudia?¨   ...  True    True
32   N002zie0           MartiCristina?¨   ...  True    True
63   N002ta4c       CarvalhoCristovao?¨   ...  True    True
137  N002s7wv  RodriguesSilvaFernando?¨   ...  True    True

[10 rows x 11 columns]

Ahora usando transform

In [ ]:
instagram_usrs = pd.read_csv('Instagram_Usrs.csv', encoding='latin1',sep=';')
instagram_usrs.head()

    usuario  ... cantidad_total_publicaciones
0  N002qbs5  ...                          480
1  N002qd07  ...                          669
2  N002qhoi  ...                           50
3  N002qiab  ...                          819
4  N002qqtm  ...                          765

[5 rows x 7 columns]

In [ ]:
instagram_usrs['max_pais']=instagram_usrs[['pais','cantidad_seguidores']].groupby('pais').transform('max')

In [ ]:
instagram_usrs

      usuario               nickname  ... cantidad_total_publicaciones max_pais
0    N002qbs5         TaniaMunira?¨   ...                          480   884500
1    N002qd07    LiotirisChristos?¨   ...                          669   903879
2    N002qhoi        GageBenjamin?¨   ...                           50   839094
3    N002qiab           SkauSimon?¨   ...                          819   884500
4    N002qqtm            Kolaretakis  ...                          765   903879
..        ...                    ...  ...                          ...      ...
195  N00339sf      vaasukivaasuki?¨   ...                          458   903879
196  N00339si       Deutsch Peter?¨   ...                          118   903879
197  N0033bwv  olivajohnolivajohn?¨   ...                          328   903879
198  N0033fpv           MorariAna?¨   ...                          433   903879
199  N0033iny         Schneiderov?ÿ   ...                           17   884500

[200 rows x 8 columns]

In [ ]:
instagram_usrs['Mas80']=instagram_usrs['cantidad_seguidores']>(instagram_usrs['max_pais']*0.8)

In [ ]:
instagram_usrs.head()

    usuario             nickname  ... max_pais  Mas80
0  N002qbs5       TaniaMunira?¨   ...   884500  False
1  N002qd07  LiotirisChristos?¨   ...   903879  False
2  N002qhoi      GageBenjamin?¨   ...   839094  False
3  N002qiab         SkauSimon?¨   ...   884500  False
4  N002qqtm          Kolaretakis  ...   903879  False

[5 rows x 9 columns]

In [ ]:
instagram_usrs['Mas80'].value_counts()

False    169
True      31
Name: Mas80, dtype: int64

In [ ]:
instagram_usrs['Menos15']=(instagram_usrs['cantidad_seguidores']*0.15)>instagram_usrs['cantidad_seguidos']

In [ ]:
instagram_usrs['Menos15'].value_counts()

False    146
True      54
Name: Menos15, dtype: int64

In [ ]:
instagram_usrs.loc[(instagram_usrs['Mas80'])&(instagram_usrs['Menos15']),:].nlargest(10,'cantidad_seguidores')

      usuario                   nickname       pais  ... max_pais  Mas80  Menos15
148  N0030kpq   MartinezBelmonteAngel?¨      Brasil  ...   903879   True     True
135  N002zq9j           AnaMariaGANGA?¨      Mexico  ...   897432   True     True
81   N002vrqp           GarampiIlaria?¨    Colombia  ...   896789   True     True
24   N002rw1y          VolintiruAndra?¨    Colombia  ...   896789   True     True
144  N00307fs       MariaMaximinaGouveia  Argentina  ...   884500   True     True
108  N002ykux              PennJorgen?¨   Argentina  ...   884500   True     True
111  N002ypf8   Beltr?ÿnBermeoClaudia?¨   Argentina  ...   884500   True     True
129  N002zie0           MartiCristina?¨   Argentina  ...   884500   True     True
47   N002ta4c       CarvalhoCristovao?¨      Brasil  ...   903879   True     True
32   N002s7wv  RodriguesSilvaFernando?¨    Colombia  ...   896789   True     True

[10 rows x 10 columns]