# 2020 1C 3ra Oportunidad

2) Mercadodesregulado tiene un dataframe de ventas (id_producto, id_comprador, id_vendedor, pais, tiene_reclamo, año, mes, precio_local)
y uno de productos (id_producto, titulo, categoria), quiere conocer:

a) Los peores vendedores, aquellos cuya tasa de reclamos sea mayor a 0.3, para retirarlos de la plataforma (10 ptos)

b) El smartphone cuya cantidad de ventas se redujera más en diciembre de 2019 respecto de diciembre de 2018 (10 ptos)

c) Se observa que la mayoría de los peores vendedores retirados de la plataforma con la consulta de (a) son producto de la llamada "ecuación más peligrosa de la historia" o “ecuación de Demoivre”.
Proponga una mejora a la consulta para mitigar esto. (5 ptos)

In [15]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [16]:
# armamos el df de ventas
ventas_data = {
        'id_producto': [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3],
        'id_comprador': [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3],
        'id_vendedor': [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3],
        'pais': ['ar','ar','ar','ar','ar','br','br','br','br','br','br','br','br','br','br'],
        'tiene_reclamo': [1,1,1,1,1,0,0,0,0,0,0,0,0,1,1],
        'anio': [2018,2018,2018,2019,2019,2018,2018,2018,2019,2019,2018,2019,2019,2018,2018],
        'mes': [12,12,12,12,12,12,12,12,12,12,3,3,3,3,3],
        'precio_local': [1212,1212,1212,1212,1212,1212,1212,1212,1212,1212,33,33,33,33,33],
}

df_ventas = pd.DataFrame(ventas_data, columns = ventas_data.keys())

In [17]:
# armamos el data frame de datos de productos
products_data = {
        'id_producto': [1,2,3],
        'titulo': ['Samsung Galaxy S20+','Apple iPhone 11','Samsung Galaxy Tab 10.1'],
        'categoria': ['smartphone','smartphone', 'tablet'],
}

df_products = pd.DataFrame(products_data, columns = products_data.keys())

In [18]:
df_ventas.head()

   id_producto  id_comprador  id_vendedor  ...  anio  mes  precio_local
0            1             1            1  ...  2018   12          1212
1            1             1            1  ...  2018   12          1212
2            1             1            1  ...  2018   12          1212
3            1             1            1  ...  2019   12          1212
4            1             1            1  ...  2019   12          1212

[5 rows x 8 columns]

In [19]:
df_products.head()

   id_producto                   titulo   categoria
0            1      Samsung Galaxy S20+  smartphone
1            2          Apple iPhone 11  smartphone
2            3  Samsung Galaxy Tab 10.1      tablet

a) Los peores vendedores, aquellos cuya tasa de reclamos sea mayor a 0.3, para retirarlos de la plataforma (10 ptos)

In [21]:
tasa_de_reclamo = df_ventas.groupby("id_vendedor").agg({"tiene_reclamo":"mean"})

In [25]:
tasa_de_reclamo[tasa_de_reclamo["tiene_reclamo"]>0.3]

                   tiene_reclamo
id_vendedor
1                           1.00
3                           0.40

b) El smartphone cuya cantidad de ventas se redujera más en diciembre de 2019 respecto de diciembre de 2018 (10 ptos)

In [43]:
smartphones = df_products[df_products['categoria'] =='smartphone']

In [45]:
ventas_2018 = df_ventas[(df_ventas['anio'] == 2018) & (df_ventas['mes'] == 12)]

In [46]:
ventas_2018.head()

   id_producto  id_comprador  id_vendedor  ...  anio  mes  precio_local
0            1             1            1  ...  2018   12          1212
1            1             1            1  ...  2018   12          1212
2            1             1            1  ...  2018   12          1212
5            2             2            2  ...  2018   12          1212
6            2             2            2  ...  2018   12          1212

[5 rows x 8 columns]

In [47]:
ventas_2019 = df_ventas[(df_ventas['anio'] == 2019) & (df_ventas['mes'] == 12)]

In [48]:
ventas_2019.head()

   id_producto  id_comprador  id_vendedor  ...  anio  mes  precio_local
3            1             1            1  ...  2019   12          1212
4            1             1            1  ...  2019   12          1212
8            2             2            2  ...  2019   12          1212
9            2             2            2  ...  2019   12          1212

[4 rows x 8 columns]

In [49]:
ventas_2018_smart = ventas_2018.merge(smartphones, on="id_producto")

In [50]:
ventas_2018_smart.head()

   id_producto  id_comprador  ...               titulo   categoria
0            1             1  ...  Samsung Galaxy S20+  smartphone
1            1             1  ...  Samsung Galaxy S20+  smartphone
2            1             1  ...  Samsung Galaxy S20+  smartphone
3            2             2  ...      Apple iPhone 11  smartphone
4            2             2  ...      Apple iPhone 11  smartphone

[5 rows x 10 columns]

In [51]:
ventas_2019_smart = ventas_2019.merge(smartphones, on="id_producto")

In [52]:
ventas_2019_smart.head()

   id_producto  id_comprador  ...               titulo   categoria
0            1             1  ...  Samsung Galaxy S20+  smartphone
1            1             1  ...  Samsung Galaxy S20+  smartphone
2            2             2  ...      Apple iPhone 11  smartphone
3            2             2  ...      Apple iPhone 11  smartphone

[4 rows x 10 columns]

In [54]:
ventas_2018_smart = ventas_2018_smart.groupby("id_producto").agg({"id_comprador": "count"}).reset_index()

In [56]:
ventas_2018_smart = ventas_2018_smart.reset_index()

In [59]:
ventas_2018_smart.rename(columns={'id_comprador':"ventas_tot_2018"}, inplace=True)

In [60]:
ventas_2018_smart

   id_producto  ventas_tot_2018
0            1                3
1            2                3

In [63]:
ventas_2019_smart = ventas_2019_smart.groupby("id_producto").agg({"id_comprador": "count"}).reset_index()

In [65]:
ventas_2019_smart.rename(columns={"id_comprador":"ventas_tot_2019"}, inplace=True)

In [66]:
ventas_2019_smart

   id_producto  ventas_tot_2019
0            1                2
1            2                2

In [68]:
comparacion_ventas = ventas_2019_smart.merge(ventas_2018_smart, on="id_producto")

In [69]:
comparacion_ventas

   id_producto  ventas_tot_2019  ventas_tot_2018
0            1                2                3
1            2                2                3

In [73]:
comparacion_ventas['relacion'] = comparacion_ventas["ventas_tot_2019"] / comparacion_ventas["ventas_tot_2018"]

In [74]:
comparacion_ventas

   id_producto  ventas_tot_2019  ventas_tot_2018             relacion
0            1                2                3                 0.67
1            2                2                3                 0.67

In [78]:
comparacion_ventas.nsmallest(1,"relacion")['id_producto']

0    1
Name: id_producto, dtype: int64

c) Se observa que la mayoría de los peores vendedores retirados de la plataforma con la consulta de (a) son producto de la llamada "ecuación más peligrosa de la historia" o "ecuación de Demoivre".
Proponga una mejora a la consulta para mitigar esto. (5 ptos)

In [28]:
tasa_de_reclamo = df_ventas.groupby("id_vendedor").agg({"tiene_reclamo":"mean","id_producto":"count"})

In [31]:
tasa_de_reclamo.rename(columns={"id_producto":"cantidad_vendida"}, inplace=True)

In [33]:
tasa_de_reclamo.rename(columns={"tiene_reclamo":"tasa_reclamo"}, inplace=True)

In [34]:
tasa_de_reclamo.head()

                    tasa_reclamo  cantidad_vendida
id_vendedor
1                           1.00                 5
2                           0.00                 5
3                           0.40                 5

In [41]:
tasa_de_reclamo[(tasa_de_reclamo["tasa_reclamo"]> 0.3) & (tasa_de_reclamo["cantidad_vendida"] > 100)]

Empty DataFrame
Columns: [tasa_reclamo, cantidad_vendida]
Index: []