In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide resolver utilizando Pandas:
a)Cuál es el promedio general de notas.
b)Cuál es la nota más alta y la nota más baja registrada durante el año 2020.
c)Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.
d)Cuál es la nota promedio por materia.
e)Cuál es la nota promedio por padrón.

In [104]:
# armamos el df de ventas
notas_alumnos = {
        'padron': [1,4,3,4,5,6,4,8,9,10],
        'materia': ['am2','algebra','f1','f2','algo1','algo2','algo3','orgacomp','orgadatos','proba'],
        'nota': [1,2,3,4,5,6,7,8,9,10],
        'fecha': ['1-1-20','2-2-20','3-3-40','4-4-20','5-5-20','6-6-20','7-7-12','8-8-20','9-9-20','10-10-19'],
}
df_notas_alumnos = pd.DataFrame(notas_alumnos)

In [105]:
df_notas_alumnos

   padron    materia  nota     fecha
0       1        am2     1    1-1-20
1       4    algebra     2    2-2-20
2       3         f1     3    3-3-40
3       4         f2     4    4-4-20
4       5      algo1     5    5-5-20
5       6      algo2     6    6-6-20
6       4      algo3     7    7-7-12
7       8   orgacomp     8    8-8-20
8       9  orgadatos     9    9-9-20
9      10      proba    10  10-10-19

a) Cuál es el promedio general de notas.

In [106]:
promedio = df_notas_alumnos['nota'].mean()
promedio

5.5

In [107]:
df_notas_alumnos['fecha'] = pd.to_datetime(df_notas_alumnos['fecha'])  #b)Cuál es la nota más alta y la nota más baja registrada durante el año 2020.
df_notas_alumnos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   padron   10 non-null     int64
 1   materia  10 non-null     object
 2   nota     10 non-null     int64
 3   fecha    10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 448.0+ bytes

In [108]:
año_2020 = df_notas_alumnos[df_notas_alumnos['fecha'].dt.year == 2020] #filtramos por año pa 
año_2020

   padron    materia  nota      fecha
0       1        am2     1 2020-01-01
1       4    algebra     2 2020-02-02
3       4         f2     4 2020-04-04
4       5      algo1     5 2020-05-05
5       6      algo2     6 2020-06-06
7       8   orgacomp     8 2020-08-08
8       9  orgadatos     9 2020-09-09

In [109]:
año_2020['nota'].max()

9

punto b

In [110]:
año_2020['nota'].min()

1

c) Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.

In [111]:
materias_aprobadas = df_notas_alumnos['nota'] >= 4
materias_aprobadas

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: nota, dtype: bool

In [112]:
padrones_materias_aprobadas = df_notas_alumnos[materias_aprobadas].groupby('padron').agg({ 'nota': 'count' })
padrones_materias_aprobadas = padrones_materias_aprobadas.rename(columns = {'nota' :'cant_materias_aprobadas'})

In [113]:
padrones_materias_aprobadas.reset_index() #punto c padre
padron_capo = padrones_materias_aprobadas['cant_materias_aprobadas'].nlargest(1)
padron_capo

padron
4    2
Name: cant_materias_aprobadas, dtype: int64

d)Cuál es la nota promedio por materia.

In [114]:

promedio_materias = df_notas_alumnos.groupby('materia').agg({ 'nota': 'mean' })
promedio_materias

           nota
materia
algebra       2
algo1         5
algo2         6
algo3         7
am2           1
f1            3
f2            4
orgacomp      8
orgadatos     9
proba        10

e)Cuál es la nota promedio por padrón.

In [115]:
promedio_padron = df_notas_alumnos.groupby('padron').agg({ 'nota': 'mean' })
promedio_padron

             nota
padron
1        1.000000
3        3.000000
4        4.333333
5        5.000000
6        6.000000
8        8.000000
9        9.000000
10      10.000000