
7- Dada la exitosa convocatoria de los Juegos Olímpicos de la Juventud por parte del público,
sus organizadores realizan distintos análisis para planificar las jornadas finales del certamen.
Es por ello que cuentan con información en los siguientes archivos csv: eventos.csv (id_evento,
fecha, id_locacion, nombre_evento, id_categoria_deportiva, cantidad_espectadores)
locacion.csv (id_locacion, nombre, capacidad, capacidad_extendida, sede, latitud, longitud)
categorias_deportivas.csv (id_categoria_deportiva, nombre, año_de_adopcion)
El primer archivo cuenta con información de los eventos, indicando la fecha (en formato
“YYYY-mm-dd hh:mm:ss”), el lugar donde ocurrió (id_locacion) y la cantidad de espectadores
que asistieron. Además se aporta información sobre la categoría deportiva a la cual pertenece
el evento.
Por otro lado se tiene información sobre las distintas locaciones en la sedes del certamen en
las que ocurrieron los eventos. Contamos con información de su capacidad total de
espectadores así como de su capacidad extendida (cuantos asientos extras se pueden brindar
sobre la capacidad de la locación).
Se desea obtener:


A. Nombre de la sede que acumuló la mayor cantidad de espectadores en eventos durante
el certamen del 14 al 15 de octubre inclusive. Esto es de vital importancia para distribuir
el merchandising oficial del evento, para las fechas finales.


B. Nombre del evento y nombre de la categoría deportiva de aquellos eventos cuya
cantidad de espectadores superó la capacidad de la locación, más allá de la capacidad
extendida. Esto es de vital importancia para detectar problemas de seguridad o si es
necesario realizar algún cambio de locación.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import random

#Creo un dataframe de prueba
eventos = pd.DataFrame(columns = ['id_evento', 'fecha','id_locacion', 'nombre_evento', 'id_categoria', 'cant_espectadores'], dtype = int)

locacion = pd.DataFrame({
    'id_locacion': [0, 1, 2, 3],
    'nombre_sede': ['Lugar0','Lugar1', 'Lugar2', 'Lugar3'],
    'capacidad': [50, 100, 100, 150],
    'capacidad_extendida': [100, 150, 150, 200]
})

categoria = pd.DataFrame(columns = ['id_categoria', 'nombre'])
categoria = pd.DataFrame({
    'id_categoria':[0,1,2,3,4],
    'nombre_categoria':['Atletismo', 'Ciclismo', 'Futbol', 'Salto en Largo', 'Tiro con Arco']
})

for i in range(100):
    eventos = eventos.append({
        'id_evento': i,
        'fecha': random.choice(['2020-10-14 00:00:01', '2020-10-15 23:59:58', '2020-10-16 00:00:01']),
        'id_locacion': random.randint(0,3),
        'nombre_evento': 'Evento'+str(i),
        'id_categoria': random.randint(0,4),
        'cant_espectadores': random.randint(20, 250)
    }, ignore_index = True)

In [3]:
#A. Nombre de la sede que acumuló la mayor cantidad de espectadores en eventos durante
#el certamen del 14 al 15 de octubre inclusive. Esto es de vital importancia para distribuir
#el merchandising oficial del evento, para las fechas finales.

In [4]:
new_eventos = eventos.merge(locacion, on='id_locacion')
new_eventos

,id_evento,fecha,id_locacion,nombre_evento,id_categoria,cant_espectadores,nombre_sede,capacidad,capacidad_extendida
0,0,2020-10-14 00:00:01,3,Evento0,4,211,Lugar3,150,200
1,4,2020-10-14 00:00:01,3,Evento4,3,222,Lugar3,150,200
2,24,2020-10-16 00:00:01,3,Evento24,4,38,Lugar3,150,200
3,29,2020-10-16 00:00:01,3,Evento29,3,119,Lugar3,150,200
4,31,2020-10-16 00:00:01,3,Evento31,3,154,Lugar3,150,200
...,...,...,...,...,...,...,...,...,...
95,81,2020-10-16 00:00:01,2,Evento81,3,160,Lugar2,100,150
96,87,2020-10-15 23:59:58,2,Evento87,3,112,Lugar2,100,150
97,88,2020-10-16 00:00:01,2,Evento88,0,225,Lugar2,100,150
98,94,2020-10-14 00:00:01,2,Evento94,1,188,Lugar2,100,150
99,95,2020-10-14 00:00:01,2,Evento95,1,143,Lugar2,100,150

In [5]:
new_eventos['fecha'] = pd.to_datetime(new_eventos['fecha'], errors='coerce')
new_eventos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_evento            100 non-null    int64
 1   fecha                100 non-null    datetime64[ns]
 2   id_locacion          100 non-null    int64
 3   nombre_evento        100 non-null    object
 4   id_categoria         100 non-null    int64
 5   cant_espectadores    100 non-null    int64
 6   nombre_sede          100 non-null    object
 7   capacidad            100 non-null    int64
 8   capacidad_extendida  100 non-null    int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 7.0+ KB

In [6]:
new_eventos = new_eventos[new_eventos['fecha'].dt.month == 10]
new_eventos

,id_evento,fecha,id_locacion,nombre_evento,id_categoria,cant_espectadores,nombre_sede,capacidad,capacidad_extendida
0,0,2020-10-14 00:00:01,3,Evento0,4,211,Lugar3,150,200
1,4,2020-10-14 00:00:01,3,Evento4,3,222,Lugar3,150,200
2,24,2020-10-16 00:00:01,3,Evento24,4,38,Lugar3,150,200
3,29,2020-10-16 00:00:01,3,Evento29,3,119,Lugar3,150,200
4,31,2020-10-16 00:00:01,3,Evento31,3,154,Lugar3,150,200
...,...,...,...,...,...,...,...,...,...
95,81,2020-10-16 00:00:01,2,Evento81,3,160,Lugar2,100,150
96,87,2020-10-15 23:59:58,2,Evento87,3,112,Lugar2,100,150
97,88,2020-10-16 00:00:01,2,Evento88,0,225,Lugar2,100,150
98,94,2020-10-14 00:00:01,2,Evento94,1,188,Lugar2,100,150
99,95,2020-10-14 00:00:01,2,Evento95,1,143,Lugar2,100,150

In [7]:
new_eventos = new_eventos[(new_eventos['fecha'].dt.day == 14) | (new_eventos['fecha'].dt.day == 15)] 
new_eventos.head()

,id_evento,fecha,id_locacion,nombre_evento,id_categoria,cant_espectadores,nombre_sede,capacidad,capacidad_extendida
0,0,2020-10-14 00:00:01,3,Evento0,4,211,Lugar3,150,200
1,4,2020-10-14 00:00:01,3,Evento4,3,222,Lugar3,150,200
5,36,2020-10-14 00:00:01,3,Evento36,0,156,Lugar3,150,200
6,37,2020-10-14 00:00:01,3,Evento37,1,199,Lugar3,150,200
8,43,2020-10-15 23:59:58,3,Evento43,2,181,Lugar3,150,200

In [8]:
grouped = new_eventos.groupby(new_eventos['nombre_sede']).agg({'cant_espectadores' : 'sum'}).nlargest(1, 'cant_espectadores')
grouped.reset_index(inplace=True)
grouped

  nombre_sede  cant_espectadores
0      Lugar1               3513

In [9]:
grouped['nombre_sede']

0    Lugar1
Name: nombre_sede, dtype: object

In [10]:

#B. Nombre del evento y nombre de la categoría deportiva de aquellos eventos cuya
#cantidad de espectadores superó la capacidad de la locación, más allá de la capacidad
#extendida. Esto es de vital importancia para detectar problemas de seguridad o si es
#necesario realizar algún cambio de locación.

In [11]:
new_eventos = eventos.merge(locacion, on='id_locacion')
new_eventos = new_eventos.merge(categoria, on='id_categoria')
new_eventos

,id_evento,fecha,id_locacion,nombre_evento,id_categoria,cant_espectadores,nombre_sede,capacidad,capacidad_extendida,nombre_categoria
0,0,2020-10-14 00:00:01,3,Evento0,4,211,Lugar3,150,200,Tiro con Arco
1,24,2020-10-16 00:00:01,3,Evento24,4,38,Lugar3,150,200,Tiro con Arco
2,38,2020-10-16 00:00:01,3,Evento38,4,218,Lugar3,150,200,Tiro con Arco
3,47,2020-10-14 00:00:01,3,Evento47,4,231,Lugar3,150,200,Tiro con Arco
4,65,2020-10-16 00:00:01,3,Evento65,4,57,Lugar3,150,200,Tiro con Arco
...,...,...,...,...,...,...,...,...,...,...
95,6,2020-10-15 23:59:58,2,Evento6,2,60,Lugar2,100,150,Futbol
96,34,2020-10-14 00:00:01,2,Evento34,2,200,Lugar2,100,150,Futbol
97,35,2020-10-16 00:00:01,2,Evento35,2,85,Lugar2,100,150,Futbol
98,55,2020-10-15 23:59:58,2,Evento55,2,105,Lugar2,100,150,Futbol
99,57,2020-10-14 00:00:01,2,Evento57,2,102,Lugar2,100,150,Futbol

In [12]:
new_eventos = new_eventos[new_eventos['cant_espectadores'] > new_eventos['capacidad_extendida']]
new_eventos.head()

,id_evento,fecha,id_locacion,nombre_evento,id_categoria,cant_espectadores,nombre_sede,capacidad,capacidad_extendida,nombre_categoria
0,0,2020-10-14 00:00:01,3,Evento0,4,211,Lugar3,150,200,Tiro con Arco
2,38,2020-10-16 00:00:01,3,Evento38,4,218,Lugar3,150,200,Tiro con Arco
3,47,2020-10-14 00:00:01,3,Evento47,4,231,Lugar3,150,200,Tiro con Arco
7,23,2020-10-15 23:59:58,1,Evento23,4,164,Lugar1,100,150,Tiro con Arco
8,40,2020-10-16 00:00:01,1,Evento40,4,179,Lugar1,100,150,Tiro con Arco

In [13]:
new_eventos = new_eventos[['nombre_evento', 'nombre_categoria']]
#new_eventos.groupby(['nombre_evento','nombre_categoria']).size()
# Para mostrar el groupby de a dos columnas